{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load hitcount_tags %}
{% load i18n %}
{% load tags %}

<script src="{{STATIC_URL}}nested_comments/js/nested_comments_app.js"></script>

{% ifnotequal request.user image.user %}
    {% insert_hit_count_js_variables for image %}
    <script src="{{STATIC_URL}}hitcount/hitcount-jquery.js"></script>
{% endifnotequal %}

<script type="text/javascript">
$(document).ready(function() {
    $('form.copy select').change(function() {
        var sharing_mode = parseInt($('select[name=sharing_mode] option:selected').val());
        var image_size = parseInt($('select[name=sharing_image_size] option:selected').val());
        var image_mode = parseInt($('select[name=sharing_image_mode] option:selected').val());
        var thumbnail = parseInt($('select[name=sharing_thumbnail] option:selected').val());
        var textarea = $('form.copy textarea');
        var content = '';

        if (sharing_mode == 0) {
            $('select[name=sharing_thumbnail]').attr('disabled', 'disabled');
            $('select[name=sharing_thumbnail]').closest('.selector').addClass('disabled');
        } else {
            $('select[name=sharing_thumbnail]').removeAttr('disabled');
            $('select[name=sharing_thumbnail]').closest('.selector').removeClass('disabled');
        }

        /* Make thumbnail url */
        var thumbnail_alias = 'gallery';
        if (image_mode == 1)
            thumbnail_alias = 'gallery_inverted';
        var thumbnail_url = '{{SHARE_PATH}}/{{image.id}}/{{revision_label}}/rawthumb/' + thumbnail_alias + '/get.jpg';

        /* Make link url */
        var qs = '';
        if (image_mode == 1)
           qs += "{% query_string "mod='inverted'" "" %}";

        var sharing_url = '{{SHARE_PATH}}';
        if (image_size == 0) { /* regular */
            sharing_url += "{% get_image_url image revision_label %}";
        } else if (image_size == 1) { /* full */
            sharing_url += "{% get_image_url image revision_label 'full' %}";
        } else if (image_size == 2) { /* real */
            if(qs.length > 0)
                qs += "&real=";
            else
                qs = "{% query_string "mod=mod,real=''" ""%}";

            sharing_url += "{% get_image_url image revision_label 'full' %}";
        }

        sharing_url += qs;
        sharing_url = sharing_url.replace(/&amp;/g, '&');


        /* Make text */
        var text = "{{image.title|escape}}";
        if (thumbnail == 0)
            text = thumbnail_url;

        /*************
        * SIMPLE URL *
        *************/
        if (sharing_mode == 0) {
            content = sharing_url;
        } else

        /********
        * FORUM *
        ********/
        if (sharing_mode == 1) {
            content = "[URL=" + sharing_url + "]";
            if (thumbnail == 0) content += "[IMG]";
            content += text
            if (thumbnail == 0) content += "[/IMG]";
            content += "[/URL]"
        } else

        /*******
        * HTML *
        *******/
        if (sharing_mode == 2) {
            content = "<a href=\"" + sharing_url + "\">";
            if (thumbnail == 0) content += "<img src=\"";
            content += text;
            if (thumbnail == 0) content += "\"/>";
            content += "</a>"
        }

        textarea.val(content);
    });

    astrobin_common.init(
        '{{image.user.username}}',
        {
            message_action: {
                dialog: {
                    title : "{% blocktrans with image.user.userprofile as username %}Send {{username}} a message{% endblocktrans %}",
                    body  : "",
                    button: "{% trans "Send" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{private_message_form.as_p|append_slash}}{% endautoescape %}',
                csrf_token: '{{csrf_token}}',
                url      : "{% url send_private_message %}"
            }
        });

    astrobin_common.setup_gear_popovers();
    astrobin_common.setup_subject_popovers();
    astrobin_common.setup_user_popovers();

    $('#upload-revision-modal form input[type=submit]').click(function(e) {
        $(this).addClass('disabled');
        $(this).siblings('.spinner').show();
    });

    $('button#send-to-datapool').click(function(e) {
        var selected = $('form#select-datapool select option:selected').val();

        $.ajax({
            type: 'post',
            dataType: 'json',
            data: {image: {{image.id}}},
            url: '/rawdata/publicdatapools/' + selected + '/add-image/',
            success: function() {
                window.location.href = '/rawdata/publicdatapools/' + selected + '/';
            }
        });

        e.preventDefault();
    });

    $('button#send-to-sharedfolder').click(function(e) {
        var selected = $('form#select-sharedfolder select option:selected').val();

        $.ajax({
            type: 'post',
            dataType: 'json',
            data: {image: {{image.id}}},
            url: '/rawdata/privatesharedfolders/' + selected + '/add-image/',
            success: function() {
                window.location.href = '/rawdata/privatesharedfolders/' + selected + '/';
            }
        });

        e.preventDefault();
    });
});
</script>

