{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load tags %}

{% block title %}{% trans "Choose today's 'Image of the day'" %}{% endblock %}

{% block content %}
    {% if not iotd_already_exists %}
        <h1>
            <span class="iotd-choose-date">{% now "SHORT_DATE_FORMAT" %}</span>
            {% trans "Choose today's 'Image of the day'" %}
        </h1>

        <p class="well">
            {% blocktrans %}Here is a selection of images uploaded during the past 7 days. About half of them are images that received lots of likes, and the other half were selected randomly. The images are anonymized as to not bias the selection.{% endblocktrans %}
        </p>

        {% for candidate in candidate_list %}
            <div class="row section iotd-choose">
                <div class="span12">
                    {% astrobin_image candidate.image 'iotd_candidate' 'final' '' False %}
                    <a
                        href="{% url iotd_choose candidate.image.id %}"
                        class="btn btn-large btn-block btn-primary">
                        &uarr; {% trans "Choose" %}
                    </a>
                </div>
            </div>
        {% empty %}
            <p>
                {% trans "There are no candidates for 'Image of the day' yet, today. Please try again later." %}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
