{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_donations_tags %}
{% load common_tags %}
{% load tags %}
{% load dfp_tags %}

{% block title %}{% trans "The Big Wall" %}{% endblock %}

{% block content %}
    <a name="page_anchor"></a>
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-sort icon-white"></i>
                    {% trans "Sort by" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% query_string "" "sort" %}">
                            <span class="bg-icon{% if sort == '-uploaded' %} icon-ok{% endif %}"></span>
                            {% trans "Uploaded" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-acquired'" "" %}">
                            <span class="bg-icon{% if sort == '-acquired' %} icon-ok{% endif %}"></span>
                            {% trans "Acquired" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-integration'" "" %}">
                            <span class="bg-icon{% if sort == '-integration' %} icon-ok{% endif %}"></span>
                            {% trans "Integration" %}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% query_string "sort='-likes'" "" %}">
                            <span class="bg-icon{% if sort == '-likes' %} icon-ok{% endif %}"></span>
                            {% trans "Number of likes" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-bookmarks'" "" %}">
                            <span class="bg-icon{% if sort == '-bookmarks' %} icon-ok{% endif %}"></span>
                            {% trans "Bookmarks" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-views'" "" %}">
                            <span class="bg-icon{% if sort == '-views' %} icon-ok{% endif %}"></span>
                            {% trans "Views" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-comments'" "" %}">
                            <span class="bg-icon{% if sort == '-comments' %} icon-ok{% endif %}"></span>
                            {% trans "Comments" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-filter icon-white"></i>
                    {% trans "Filter by" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% query_string "filter='all_ds'" "" %}">
                            <span class="bg-icon{% if filter == 'all_ds' %} icon-ok{% endif %}"></span>
                            {% trans "All deep sky objects" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='all_ss'" "" %}">
                            <span class="bg-icon{% if filter == 'all_ss' %} icon-ok{% endif %}"></span>
                            {% trans "All Solar System objects" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="{% query_string "filter='sun'" "" %}">
                            <span class="bg-icon{% if filter == 'sun' %} icon-ok{% endif %}"></span>
                            {% trans "Sun" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='moon'" "" %}">
                            <span class="bg-icon{% if filter == 'moon' %} icon-ok{% endif %}"></span>
                            {% trans "Moon" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='planets'" "" %}">
                            <span class="bg-icon{% if filter == 'planets' %} icon-ok{% endif %}"></span>
                            {% trans "Planets" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='comets'" "" %}">
                            <span class="bg-icon{% if filter == 'comets' %} icon-ok{% endif %}"></span>
                            {% trans "Comets" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="{% query_string "filter='wide'" "" %}">
                            <span class="bg-icon{% if filter == 'wide' %} icon-ok{% endif %}"></span>
                            {% trans "Extremely wide field" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='trails'" "" %}">
                            <span class="bg-icon{% if filter == 'trails' %} icon-ok{% endif %}"></span>
                            {% trans "Star trails" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='gear'" "" %}">
                            <span class="bg-icon{% if filter == 'gear' %} icon-ok{% endif %}"></span>
                            {% trans "Gear" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='products'" "" %}">
                            <span class="bg-icon{% if filter == 'products' %} icon-ok{% endif %}"></span>
                            {% trans "Commercial products" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='other'" "" %}">
                            <span class="bg-icon{% if filter == 'other' %} icon-ok{% endif %}"></span>
                            {% trans "Other" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="bg-icon">
                        <a href="{% query_string "" "filter" %}">{% trans "Remove filter" %}</a>
                    </li>
                </ul>
            </li>

            <li class="pull-right">
                {% ifequal request.GET.view 'list' %}
                    <a href="{% query_string "" "view" %}">
                        <i class="icon-th"></i>
                    </a>
                {% else %}
                    <a href="{% query_string "view=list" "" %}">
                        <i class="icon-list"></i>
                    </a>
                {% endifequal %}
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    {% if ADS_ENABLED and not request.user|is_donor %}
        <div class="visible-desktop">
            {% dfp_tag '47890729/leaderboard' 940 130 brands='' %}
        </div>
    {% endif %}

    <h1>{% trans "The Big Wall" %}</h1>
    {% search_image_list object_list %}
{% endblock %}
