{% load compressed %}

<!--[if lte IE 8]>
<script src="//cdn.jsdelivr.net/flashcanvas/1.5/flashcanvas.js"></script>
<![endif]-->

<!-- own js -->
{% compressed_js 'scripts' %}

<script src="//cdn.jsdelivr.net/lightbox/0.5/js/jquery.lightbox-0.5.min.js"></script>

<!-- other js -->
<script type="text/javascript" src="{{STATIC_URL}}js/locale/jquery.timeago.{{request.LANGUAGE_CODE}}.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}pybb/js/pybbjs.js"></script>
