{% load url from future %}
{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url 'pybb:add_topic' forum.pk %}
    {% else %}
        {% if topic %}
            {% url 'pybb:add_post' topic.pk %}
        {% else %}
            {% url 'pybb:edit_post' pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    {% include "pybb/form_errors.html" %}
    {% if form.name %} {% include "pybb/form_field.html" with field=form.name %} {% endif %}
    {% if form.slug %} {% include "pybb/form_field.html" with field=form.slug %} {% endif %}
    {% if form.login %} {% include "pybb/form_field.html" with field=form.login %}  {% endif %}
    {% if form.body %} {% include "pybb/form_field.html" with field=form.body %}  {% endif %}
    <div id='emoticons'>
      {% for smile, url in form.available_smiles.items %}
        <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}{{ form.smiles_prefix }}{{ url }}'></a>
      {% endfor %}
    </div>

    {% if request.user|pybb_may_create_poll and form.poll_type %}
      {% include "pybb/poll_edit_form.html" %}
    {% endif %}
    {% include "pybb/attachments_formset.html" %}
    <p class="submit">{% include "pybb/_button_submit.html" %}</p>
  </fieldset>
</form>

{% block extra_js %}
    <script src="{{STATIC_URL}}/wysibb/jquery.wysibb.min.js"></script>
    <script language="javascript">
    $(document).ready(function() {
        var textarea = $('#id_body');
        textarea.wysibb({
            buttons: "bold,italic,underline,|,img,link,|,bullist,numlist,|,code"
        });

        $('#emoticons a').click(function() {
            emoticon = $(this).attr("title");
            textarea.insertAtCursor(' ' + emoticon + ' ');
            return false;
        });

        function getSelectedText() {
            if (document.selection) {
                return document.selection.createRange().text;
            } else {
                return window.getSelection().toString();
            }
        }

        $('.bb-quote-link').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.get(
                url,
                function (data) {
                    if (textarea.bbcode() != "")
                        textarea.insertAtCursor('\n');
                    textarea.insertAtCursor(data);
                    window.location.hash = '#id_body';
                }
            );
        });

        $('.bb-quote-selected-link').on('click', function (e) {
            if (!window.pybb.markup) {
                return true;
            }
            e.preventDefault();
            var selectedText = getSelectedText();
            if (selectedText != '') {
                var username = '';
                if ($(this).closest('.post').length == 1 &&
                    $(this).closest('.post').find('.post-author a').length == 1) {
                    username = $.trim($(this).closest('.post').find('.post-author a').text());
                }
                if (textarea.bbcode() != "")
                    textarea.insertAtCursor('\n');
                textarea.insertAtCursor(window.pybb.markup.quote(selectedText, username));
                window.location.hash = '#id_body';
            }
        });
    });
    </script>
{% endblock %}
