{% load i18n pybb_tags %}

<table class="table topic-list">
    <thead>
        <tr class="topic-row head-row">
            <th class="topic-state">
                &nbsp;
            </th>
            <th class="topic-name">
                {% if forum %}
                    {{forum.name}}
                {% else %}
                    {% trans "Topic" %}
                {% endif %}
            </th>
            <th class="topic-author hidden-phone">
                {% trans "Author" %}
            </th>
            <th class="topic-post-count hidden-phone">
                {% trans "Posts" %}
            </th>
            <th class="topic-view-count hidden-phone">
                {% trans "Views" %}
            </th>
            <th class="topic-last-post hidden-phone">
                {% trans "Last post" %}
            </th>
        </tr>
    </thead>
    <tbody>
    {% for topic in topic_list|pybb_topic_unread:user %}
        <tr class="topic-row {% if topic.sticky %} sticky {% endif %} {% cycle "odd" "even" %} {% if topic.on_moderation %} on-moderation {% endif %}">
            <td class="topic-state{% if topic.unread %} topic-unread{% endif %}">
                <div class="state-indicator"></div>
            </td>
            <td class="topic-name{% if topic.unread %} topic-unread{% endif %}">
                <a href="{{ topic.get_absolute_url }}?first-unread=1" class="first-unread-post-link" rel="tooltip" title="{% trans 'Go to first unread post' %}">&#8680;</a>
                <a href="{{ topic.get_absolute_url }}" rel="tooltip" title="{{topic.name}}">{{ topic.name|truncatewords:10 }}</a>
                {% if topic.sticky %} &nbsp;[{% trans "Sticky" %}] {% endif %}
                {% if topic.closed %} &nbsp;[{% trans "Closed" %}] {% endif %}
                {% with topic|pybb_topic_inline_pagination as pages %}
                    {% if pages|length > 1 %}
                        <span class="mini-pagination">
                            {% trans "pages" %}:
                            {% for page in pages %}
                                <span class="page">
                                {% if page == "..." %}
                                    ...
                                {% else %}
                                    <a href="{{ topic.get_absolute_url }}?page={{ page }}">{{ page }}</a>
                                {% endif %}
                                </span>
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endwith %}
            </td>
            <td class="topic-author hidden-phone">
                <a href="{% url user_page topic.user.username %}">
                    {{topic.user.userprofile}}
                </a>
            </td>
            <td class="topic-post-count hidden-phone">
                {{ topic.post_count }}
            </td>
            <td class="topic-view-count hidden-phone">
                {{ topic|pybbm_calc_topic_views }}
            </td>
            <td class="topic-last-post hidden-phone">
                {% include "pybb/topic_last_message_info.html" %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
