/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Color palette: http://www.colourlovers.com/palette/322645/Mambo_For_Cats */
strong,
.strong {
  font-weight: bold;
}
abbr[title] {
  border-color: #555;
}
.box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
.box-shadow-subtle {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
.bottom-box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
}
.small-bottom-box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 6px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 6px 6px;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
.text-shadow-subtle {
  text-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
}
.common-border {
  border: 1px solid #2e2e2e;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
}
.stitched-box {
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
.grayscale {
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */

  -webkit-filter: grayscale(100%);
}
.js {
  display: none;
}
/*
Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/
/* Global Declaration */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader span.filename,
div.uploader span.action,
div.button,
div.button span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}
/* INPUT & TEXTAREA */
input.text,
input.email,
input.password,
textarea.uniform {
  font-size: 13px;
  font-weight: normal;
  padding: 3px;
  color: #333333;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/uniform/bg-input.png') repeat-x 0px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}
input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
input[readonly],
input:focus[readonly] {
  color: #939393;
  background: #292929;
}
/* SPRITES */
/* Select */
div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}
div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}
div.selector select {
  /* change these to adjust positioning of select element */

  top: 0px;
  left: 0px;
}
div.selector:active,
div.selector.active {
  background-position: -483px -156px;
}
div.selector:active span,
div.selector.active span {
  background-position: right -26px;
}
div.selector.focus,
div.selector.hover,
div.selector:hover {
  background-position: -483px -182px;
}
div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
  background-position: right -52px;
}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -483px -208px;
}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}
div.selector.disabled {
  background-position: -483px -234px;
}
div.selector.disabled span {
  background-position: right -104px;
}
/* Checkbox */
div.checker {
  width: 19px;
  height: 19px;
  padding: 8px 0;
}
div.checker input {
  width: 19px;
  height: 19px;
}
div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}
div.checker:active span,
div.checker.active span {
  background-position: -19px -260px;
}
div.checker.focus span,
div.checker:hover span {
  background-position: -38px -260px;
}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}
div.checker span.checked {
  background-position: -76px -260px;
}
div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -95px -260px;
}
div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -260px;
}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}
div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -260px;
}
div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}
/* Radio */
label.radio {
  width: 100%;
}
div.radio {
  width: 18px;
  height: 18px;
}
div.radio input {
  width: 18px;
  height: 18px;
}
div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}
div.radio:active span,
div.radio.active span {
  background-position: -18px -279px;
}
div.radio.focus span,
div.radio:hover span {
  background-position: -36px -279px;
}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}
div.radio span.checked {
  background-position: -72px -279px;
}
div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px;
}
div.radio.focus span.checked,
div.radio:hover span.checked {
  background-position: -108px -279px;
}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}
div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px;
}
div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}
/* Uploader */
div.uploader {
  height: 28px;
}
div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
div.uploader span.filename {
  height: 24px;
  background-position: 0px -299px;
  cursor: pointer;
  /* change this line to adjust positioning of filename area */

  margin: 2px 0px 2px 2px;
  line-height: 24px;
}
div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}
div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}
div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}
div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}
div.uploader.disabled {
  background-position: 0px -325px;
}
div.uploader.disabled span.action {
  background-position: right -381px;
}
div.button {
  background-position: 0px -523px;
}
div.button span {
  background-position: right -643px;
}
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px;
}
div.button.active,
div.button:active {
  background-position: 0px -583px;
}
div.button.active span,
div.button:active span {
  background-position: right -703px;
  color: #333333;
}
div.button.disabled,
div.button:disabled {
  background-position: 0px -613px;
}
div.button.disabled span,
div.button:disabled span {
  background-position: right -733px;
  color: #292929;
  cursor: default;
}
/* PRESENTATION */
/* Button */
div.button {
  height: 30px;
}
div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}
/* Select */
div.selector {
  width: 190px;
  margin-top: 4px;
  font-size: 13px;
}
div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}
div.selector span {
  color: #333333;
  width: 158px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
div.selector.disabled span {
  color: #bbb;
}
/* Checker */
div.checker {
  margin-right: 5px;
}
/* Radio */
div.radio {
  margin-right: 3px;
}
/* Uploader */
div.uploader {
  cursor: pointer;
}
div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  color: #393939;
  font-size: 11px;
  font-weight: bold;
}
div.uploader span.filename {
  color: #393939;
  width: 82px;
  font-size: 11px;
}
div.uploader input {
  width: 190px;
}
div.uploader.disabled span.action {
  color: #aaa;
}
div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  display: inline;
}
.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}
/* Button */
div.button a,
div.button button,
div.button input {
  position: absolute;
}
div.button {
  cursor: pointer;
  position: relative;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}
/* Select */
div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}
div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.selector select {
  position: absolute;
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  height: 25px;
  border: none;
}
/* Checker */
div.checker {
  position: relative;
}
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.checker input {
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  display: inline-block;
  background: none;
}
/* Radio */
div.radio {
  position: relative;
}
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.radio input {
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  text-align: center;
  display: inline-block;
  background: none;
}
/* Uploader */
div.uploader {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}
div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
div.uploader input {
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: pointer;
}
/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */
body {
  background: #393939 url('../images/background-tile.png');
  padding-top: 55px;
}
body.full {
  padding-top: 0;
}
#navbar-user-scores {
  font-size: 66%;
  color: #F2CEB8;
  font-weight: bold;
  padding-left: 4px;
  vertical-align: middle;
}
#navbar-user-scores span {
  border-bottom: 1px dotted #D99560;
}
@media screen and (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar .nav {
    margin: 5px;
  }
  .navbar input {
    width: 100%;
  }
  .navbar .btn-navbar {
    margin-right: 16px;
    position: absolute;
    top: 12px;
    left: 40px;
  }
  .navbar .btn-navbar .text {
    color: #fcfcfc;
    text-shadow: none;
    position: absolute;
    top: 4px;
    left: 34px;
  }
  .navbar .btn-navbar:last-child {
    margin-bottom: 10px;
  }
}
.modal {
  background: #2e2e2e url('../images/dark-panel-tile.png');
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.modal .modal-header {
  background: #303030 url('../images/darker-panel-tile.png');
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border-bottom: #404040;
}
.modal .modal-header h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.modal .modal-header h3 [class^="icon-"],
.modal .modal-header h3 [class*=" icon-"] {
  padding-right: 8px;
}
.modal .modal-header .close {
  color: white;
}
.modal .modal-body small {
  font-size: 87.5%;
  color: #929292;
}
.modal .modal-footer {
  background: #303030 url('../images/darker-panel-tile.png');
  border-top: 1px solid #303030;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal .form-inline {
  display: table;
  width: auto;
  margin: 0 auto;
}
.navbar-fixed-top .container {
  max-height: 40px;
}
@media screen and (max-width: 979px) {
  .navbar-fixed-top .container {
    max-height: inherit;
  }
}
.nav-pills.nav-stacked .icon-chevron-right,
.nav-tabs.nav-stacked .icon-chevron-right {
  float: right;
  margin-top: 1px;
  margin-right: -6px;
  -webkit-opacity: 0.5;
  /* Netscape */

  -moz-opacity: 0.5;
  /* Safari 1.x */

  -khtml-opacity: 0.5;
  /* Good browsers */

  opacity: 0.5;
}
.nav-tabs li a {
  border-color: #404040 !important;
}
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus {
  background-color: #ddd;
  color: #222;
  font-style: italic;
  font-weight: bold;
}
.navbar .navbar-inner {
  border-top: 4px solid #3092cf;
  background: #303030 url('../images/darker-panel-tile.png');
  -webkit-box-shadow: 0 0 12px #000000;
  -moz-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
}
.navbar .nav > li > a {
  color: #cc4b2e;
  padding: 12px;
}
.navbar .nav > li > a:hover {
  color: #b74329;
}
.dropdown-menu > li > a {
  color: #333333;
}
.dropdown-menu > li > a strong {
  color: #333333;
}
.navbar .nav .dropdown-toggle .icon-caret-down,
.navbar .nav .open.dropdown .icon-caret-down {
  font-size: 10px;
}
.navbar .nav .dropdown-toggle.btn-primary .icon-caret-down,
.navbar .nav .open.dropdown.btn-primary .icon-caret-down {
  border-top-color: #fcfcfc;
  border-bottom-color: #fcfcfc;
  font-size: 10px;
}
.navbar .nav .open.dropdown .dropdown-toggle,
.navbar .nav .open.dropdown .dropdown-toggle:hover {
  background-color: #222;
}
.navbar-search {
  margin-top: 7px;
  margin-bottom: -6px;
}
.navbar input {
  color: #b8b8b8;
  background-color: #404040;
  border-color: #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 120px;
}
.navbar .bubble input {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  color: #555;
  border-color: #aaa;
  padding: 2px 6px;
}
.site-nav.nav-collapse,
.user-nav.nav-collapse {
  overflow: visible;
}
/* Fixes dropdowns on IE */
.user-nav .user-dropdown {
  min-height: 19px;
}
@media screen and (max-width: 979px) {
  .site-nav.nav-collapse,
  .user-nav.nav-collapse {
    overflow: hidden;
    z-index: 1021;
  }
  .site-nav.nav-collapse .nav > li > a,
  .user-nav.nav-collapse .nav > li > a,
  .site-nav.nav-collapse .dropdown-menu a,
  .user-nav.nav-collapse .dropdown-menu a {
    font-weight: normal;
    color: #bbb !important;
  }
  .site-nav.nav-collapse {
    position: absolute;
    top: 50px;
    left: 45px;
    background: #333;
  }
  .user-nav .dropdown-menu {
    z-index: 1021;
  }
}
/* Subnav */
.subnav {
  width: 100%;
  height: 25px;
  background: #cc4b2e url('../images/orange-panel-tile.png');
  border-top: 1px solid #b74329;
  border-bottom: 1px solid #b74329;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fcfcfc;
}
.subnav .nav > li > a:hover {
  color: #fff;
  background: #b74329;
}
.subnav .nav .open .dropdown-toggle,
.subnav .nav .open .dropdown-toggle:hover {
  background: #b74329;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  kwebkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  background: #b74329;
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #fcfcfc;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  padding-left: 10px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.subnav .dropdown-toggle .caret,
.subnav .dropdown-toggle:hover .caret {
  border-top-color: #fcfcfc;
}
.subnav .dropdown-menu {
  top: 100%;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.subnav .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.subnav .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
.subnav-fixed {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  /* 10 less than .navbar-fixed to prevent any overlap */

  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.subnav-fixed .nav {
  margin: 0 auto;
  padding: 0 31px;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-menu {
  max-width: 940px;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #CC4B2E;
}
.nav li.disabled {
  pointer-events: none;
}
.nav li.disabled a {
  color: #ccc;
}
.nav li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  margin-left: 5px;
}
.astrobin-container {
  position: relative;
  padding: 34px 30px 30px 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  background: #333333 url('../images/dark-panel-tile.png');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
ul.astrobin-thumbnails {
  margin-left: 0;
}
li.astrobin-thumbnail {
  position: relative;
  padding: 2px;
  margin: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
}
li.astrobin-thumbnail img {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.page-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.blog-entry {
  margin-bottom: 40px;
  color: #cdcdce;
}
.blog-entry strong {
  color: #fff;
}
.pagination a {
  border-color: #505050;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #c8c8c8;
  background-color: #eaeaea;
}
.table {
  margin-bottom: 0;
}
.table.table-bordered {
  border-color: #292929;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead :first-child tr:first-child th,
.table thead :first-child tr:first-child td,
.table th {
  border-top: 1px solid #cc4b2e;
  border-bottom: 1px solid #cc4b2e;
}
.table th {
  vertical-align: middle;
}
.table th a,
.table th button {
  font-weight: normal;
}
.table th,
.table td {
  border-color: #363636;
}
.table tr th {
  border-top: 1px solid #cc4b2e;
  border-bottom: 1px solid #cc4b2e;
  background-color: #272727;
  padding-top: 16px;
  padding-bottom: 16px;
}
.table tr th span {
  margin-right: 8px;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background: #343434;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #353535), color-stop(1, #333333));
  background: -ms-linear-gradient(bottom, #353535, #333333);
  background: -moz-linear-gradient(center bottom, #353535 0%, #333333 100%);
}
.table tbody tr.active td,
.table tbody tr.active th .table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background: #404040 url(../images/background-tile.png);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 16px;
  margin-bottom: 28px;
  font-family: Georgia, Times, serif;
}
h2 {
  margin-top: 28px;
}
input:focus,
textarea:focus {
  border-color: rgba(204, 75, 46, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 75, 46, 0.6);
}
.form-horizontal .form-actions,
.form-vertical .form-actions,
.form-inline .form-actions {
  background: #333333 url('../images/dark-panel-tile.png');
  border-color: #393939;
}
.form-horizontal input[type=text],
.form-horizontal input[type=password],
.form-horizontal textarea,
.form-horizontal .help-block {
  width: 610px;
  max-width: 96%;
}
.form-horizontal select {
  width: 620px;
  max-width: 96%;
}
.form-horizontal label {
  font-weight: bold;
}
.form-inline label {
  margin-right: 8px;
}
.form-inline .btn {
  margin-left: 8px;
}
.form-content .loading {
  text-align: center;
}
footer .container {
  -webkit-box-shadow: 0 0 12px black;
  -moz-box-shadow: 0 0 12px black;
  box-shadow: 0 0 12px black;
  margin: 0 auto;
  padding: 20px 30px 10px 30px;
  max-width: 940px;
  background: #303030 url('../images/darker-panel-tile.png');
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
footer .bottom {
  margin-top: 40px;
}
footer p,
footer a,
footer li {
  font-size: 11px;
  line-height: 13px;
}
footer ul {
  margin-left: 0px;
  list-style: none;
}
/* AutoSuggest CSS - Version 1.2 */
ul.as-selections {
  list-style-type: none;
  padding: 8px 4px;
  margin: 4px 0;
  width: 610px;
  max-width: 100%;
  overflow: auto;
  background: #404040;
  border: 1px solid #282828;
}
ul.as-selections li {
  float: left;
  margin: 0 4px 4px 0;
}
ul.as-selections li.as-selection-item {
  padding: 4px 8px;
}
ul.as-selections li.as-selection-item .data {
  margin-right: 4px;
}
ul.as-selections li.as-selection-item a.as-close,
ul.as-selections li.as-selection-item a.as-edit {
  padding: 2px 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
ul.as-selections li.as-selection-item a.as-close:hover,
ul.as-selections li.as-selection-item a.as-edit:hover {
  background-color: #b8b8b8;
}
ul.as-selections li.as-selection-item.need-data {
  text-shadow: #333333 0 -1px 1px;
}
ul.as-selections li.as-original {
  margin-left: 0;
  max-width: 100%;
}
ul.as-selections li.as-original input {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  width: 600px;
  max-width: 96%;
  height: 18px;
  padding-top: 4px;
  background: #404040;
  color: #f0f0f0;
}
ul.as-selections li.as-original input:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul.as-selections.loading {
  background-repeat: no-repeat;
  background-position: 97.5% center;
}
ul.as-list {
  position: absolute;
  font-size: 90%;
  list-style-type: none;
  margin: -4px 0 0 0;
  padding: 8px 4px;
  width: 610px;
  z-index: 3;
  background: #b8b8b8;
  background: -moz-linear-gradient(top, #fcfcfc, #b8b8b8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b8b8b8));
  color: #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
ul.as-list h1 {
  color: #333333;
  font-size: 13px;
  border: none;
  margin: 0 12px 4px;
  padding: 0;
  font-weight: bold;
  text-align: left;
}
li.as-result-item,
li.as-message {
  margin: 0 0 0 0;
  padding: 4px 12px;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
li.as-message {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
li:first-child.as-result-item {
  margin: 0;
}
li.as-result-item.active {
  color: #cc4b2e;
}
li.as-result-item em {
  font-style: normal;
  background: #b8b8b8;
  padding: 0 2px;
  color: #333333;
}
/* Webkit Hacks
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.as-selections {
        border-top-width: 2px;
    }
    ul.as-selections li.as-selection-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    ul.as-selections li.as-selection-item a.as-close,
    ul.as-selections li.as-selection-item a.as-edit {
        margin-top: -1px;
    }
    ul.as-selections li.as-original input {
        height: 19px;
    }
}*/
/* Opera Hacks
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close,
    ul.as-selections li.as-selection-item a.as-edit {
        margin-left: 0;
        margin-top: 0;
    }
}*/
/* IE Hacks  */
ul.as-list {
  border: 1px solid #2e2e2e;
}
ul.as-selections li.as-selection-item a.as-close,
ul.as-selections li.as-selection-item a.as-edit {
  margin-left: 0;
  margin-top: 0;
}
/* Firefox 3.0 Hacks */
ul.as-list,
x:-moz-any-link,
x:default {
  border: 1px solid #2e2e2e;
}
BODY:first-of-type ul.as-list,
x:-moz-any-link,
x:default {
  /* Target FF 3.5+ */

  border: none;
}
.tabs {
  /* Override some annoying jquery.ui stuff. */

  background: transparent;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
}
.tabs .ui-tabs-nav {
  padding-left: 0px;
  background: transparent;
  border-width: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.tabs .ui-tabs-panel {
  background: transparent;
  border-width: 0px 1px 1px 1px;
}
.tabs .ui-state-default a,
.tabs .ui-state-default a:link,
.tabs .ui-state-default a:visited {
  color: #cc4b2e;
}
.tabs .ui-state-active a,
.tabs .ui-state-active a:link,
.tabs .ui-state-active a:visited {
  color: #b8b8b8;
}
.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabs ul li,
.tabs ul li.ui-state-default {
  float: left;
  padding: 8px 12px;
  background: #2e2e2e url('../images/dark-panel-tile.png');
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.tabs ul li.active,
.tabs ul li.ui-state-active {
  border-bottom: none;
  padding-bottom: 8px;
  background: #393939 url('../images/light-panel-tile.png');
}
.tabs ul li.active {
  padding-bottom: 9px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 8px;
}
.tabbed-box {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  border-top: none;
  margin-top: 0;
}
div.capty-caption {
  background-color: black;
  padding: 0;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  z-index: 3;
}
div.capty-target {
  display: none;
}
div.capty-target .capty-caption-content {
  padding: 8px;
  font-size: 8.450000000000001px;
  color: #ddd;
  text-shadow: 1px 1px 1px black;
}
div.capty-target .capty-caption-content a {
  color: #cc4b2e;
  font-size: 90%;
}
div.capty-target .capty-caption-content .table-condensed th,
div.capty-target .capty-caption-content .table-condensed td {
  padding: 0 2px;
}
div.capty-target .capty-caption-content .link-overlay {
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  position: absolute;
  left: 0;
}
div.capty-target .capty-caption-content .link-overlay a {
  display: block;
  height: 100%;
}
.ui-multiselect {
  display: none;
  border: none;
}
.ui-multiselect div.available {
  border-color: #282828;
}
.ui-multiselect ul.available,
.ui-multiselect ul.selected {
  background: #393939 url('../images/light-panel-tile.png');
  min-height: 75px;
}
.ui-multiselect .ui-state-default {
  color: #cc4b2e;
  background: #3f3f3f;
}
.ui-multiselect .ui-state-highlight {
  background: #454545;
  border-color: #474747;
}
.ui-multiselect .ui-widget-header {
  color: #b8b8b8;
  background: #454545;
}
.ui-multiselect input.search {
  margin: 7px 4px 0 4px;
  background: #fcfcfc;
  color: #333333;
}
.ui-multiselect .remove-all,
.ui-multiselect .add-all {
  color: #cc4b2e;
}
.progressbar {
  display: none;
  padding: 14px 0 14px 0;
}
.ui-widget-overlay {
  background: #222;
}
.ui-dialog form p {
  padding: 0;
  margin-bottom: 8px;
}
.ui-dialog form label {
  text-shadow: none;
  float: none;
  text-indent: 0;
  padding: 0;
}
.ui-dialog form input {
  width: 96%;
}
.ui-dialog form .btn,
.ui-dialog form select {
  width: 100%;
}
.ui-dialog form .helptext {
  width: auto;
  margin-left: 0;
}
.ui-dialog form .errorlist {
  margin-left: 0;
  margin-bottom: 8px;
}
.upload-forms {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #393939 url('../images/subtle-panel-tile.png');
  border: 1px solid #2e2e2e;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}
.upload-forms .upload-form {
  width: 50%;
  float: left;
}
.upload-forms .upload-form .upload-form-inner {
  padding: 8px;
  border-left: 1px solid #333;
  border-right: none;
}
.upload-forms .upload-form .upload-form-inner form {
  display: none;
}
.upload-forms .upload-form .upload-form-inner form .btn-primary {
  display: inline-block;
}
.upload-forms .upload-form:first-child .upload-form-inner {
  border-right: 1px solid #484848;
  border-left: none;
  padding-left: 0;
}
.upload-forms .upload-form:last-child .upload-form-inner {
  padding-right: 0;
}
.astrobin-image-container {
  /* Because of the IOTD banner. */

  position: relative;
}
.astrobin-image-container.plot-overlay {
  position: absolute;
  top: 0;
}
.astrobin-image-container.plot-overlay img {
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}
.astrobin-image-container.plot-overlay img:hover {
  -webkit-opacity: 1;
  /* Netscape */

  -moz-opacity: 1;
  /* Safari 1.x */

  -khtml-opacity: 1;
  /* Good browsers */

  opacity: 1;
  /* IE */

  filter: alpha(opacity=100);
  transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out;
}
.astrobin-image-container.plot-overlay.plot-overlay-fixed img {
  -webkit-opacity: 1;
  /* Netscape */

  -moz-opacity: 1;
  /* Safari 1.x */

  -khtml-opacity: 1;
  /* Good browsers */

  opacity: 1;
  /* IE */

  filter: alpha(opacity=100);
}
.main-image .main-image-inner {
  z-index: 1;
  position: relative;
}
.main-image .main-image-inner img {
  cursor: url('../cursors/magnify.cur'), -moz-zoom-in, pointer;
  border: 1px solid #2e2e2e;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.image-title {
  margin-bottom: 16px;
}
.image-title .image-title {
  margin-bottom: 0;
}
.image-title .image-license {
  text-align: right;
}
.image-basic-data img.license {
  padding: 0 0 2px 2px;
}
.image-basic-data table th {
  padding-left: 35px;
  width: 50px;
}
.image-detail .image-detail-inner {
  padding: 12px;
}
.image-detail .image-detail-inner .gear,
.image-detail .image-detail-inner .acquisition {
  float: left;
  width: 50%;
}
.image-detail .image-detail-inner .gear-inner,
.image-detail .image-detail-inner .acquisition-inner {
  padding: 0 8px;
}
.image-detail .image-detail-inner .gear-inner p,
.image-detail .image-detail-inner .acquisition-inner p {
  margin: 0;
}
.image-detail .image-detail-inner .image-histogram {
  margin-top: 28px;
}
.avatar-block .avatar,
.avatar-block .username {
  display: block;
}
.avatar-block .avatar {
  float: left;
}
.avatar-block .avatar img {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.avatar-block .username {
  font-size: 1.5em;
  margin-left: 120px;
  margin-top: 4px;
}
.avatar-block .username a.username-link {
  font-size: 80%;
}
.avatar-block .username .data {
  display: block;
  font-size: 60%;
  color: #9f9f9f;
  margin-top: 4px;
  margin-bottom: 8px;
}
.avatar-block .username .data .license {
  margin-right: 4px;
}
.avatar-block .username .views,
.avatar-block .username .bookmarks,
.avatar-block .username .likes {
  font-size: 85%;
  color: #929292;
  margin-right: 8px;
}
.avatar-block .username .views .number,
.avatar-block .username .bookmarks .number,
.avatar-block .username .likes .number {
  color: #fcfcfc;
  font-weight: bold;
}
.avatar-block .username .likes a,
.avatar-block .username .bookmarks a {
  color: #929292;
  border-bottom: 1px dotted #646464;
}
.avatar {
  position: relative;
}
.avatar img {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.avatar .property-follow {
  position: absolute;
  top: 8px;
  right: 8px;
}
.explore-comment-container,
.explore-review-container {
  width: 460px;
  padding: 4px;
  display: inline-block;
}
.explore-comment-container .header,
.explore-review-container .header {
  color: #fcfcfc;
  background: #303030 url('../images/darker-panel-tile.png');
  padding: 8px 4px;
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  border-bottom: 0;
  margin-bottom: 0;
}
.explore-comment-container .thumbnail,
.explore-review-container .thumbnail {
  float: left;
  margin-right: 8px;
  clear: both;
  border: 0;
  padding: 3px;
}
.explore-comment-container .comment,
.explore-review-container .comment {
  height: 78px;
}
.explore-review-container {
  width: 302px;
}
.reviews,
.comments {
  margin-top: 12px;
  margin-bottom: 28px;
  padding-top: 12px;
}
.reviews .loader,
.comments .loader {
  display: block;
  text-align: center;
}
.reviews small,
.comments small {
  font-size: 87.5%;
  color: #929292;
}
.comment,
.review {
  position: relative;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1em;
  padding-left: 12px;
  border-left: 1px dotted #404040;
}
.comment .collapse,
.review .collapse {
  font-family: monospace;
  letter-spacing: -2px;
}
.comment .children,
.review .children {
  margin-left: 12px;
}
.comment h3,
.review h3 {
  color: #fcfcfc;
  margin-bottom: 4px;
}
.comment .well,
.review .well {
  margin-bottom: 4px;
}
.comment a.author,
.review a.author {
  margin-right: 8px;
}
.comment p,
.review p {
  margin: 0;
  padding: 4px 0;
}
.comment p.instructions,
.review p.instructions {
  font-size: 0.9em;
}
.comment p.instructions strong,
.review p.instructions strong {
  color: #fcfcfc;
  font-weight: normal;
  text-shadow: none;
}
.comment .formatting-help,
.review .formatting-help {
  font-size: 0.8em;
}
.comment .loader,
.review .loader {
  display: inline-block;
}
.comment .avatar,
.review .avatar {
  float: left;
  margin-right: 12px;
}
.comment .content,
.review .content {
  padding: 8px 0;
}
.comment .content p,
.review .content p {
  color: #fcfcfc;
  line-height: 1.5em;
  padding: 0;
}
.comment .content blockquote,
.review .content blockquote {
  margin: 0;
  padding: 0 0 0 4px;
  font-style: italic;
  border-left: 2px solid #505050;
}
.comment .content blockquote p,
.review .content blockquote p {
  color: #b8b8b8;
}
.comment .content blockquote br,
.review .content blockquote br {
  display: none;
}
.comment .content.deleted p,
.review .content.deleted p {
  color: #a4a4a4;
  font-style: italic;
}
.comment .preview,
.review .preview {
  padding: 12px;
  margin-top: 12px;
  background-color: #ffeebb;
  border: 1px solid #ecb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.comment .preview p,
.review .preview p {
  color: #333;
}
.comment .preview h3,
.review .preview h3 {
  margin-top: 0;
  color: #111;
}
.comment .meta,
.review .meta,
.comment .links,
.review .links {
  font-size: 0.85em;
}
.comment .links,
.review .links {
  padding: 4px 0;
  border-bottom: 1px dashed #555;
}
.comment .links a,
.review .links a {
  text-transform: lowercase;
  margin-right: 8px;
}
.comment form textarea,
.review form textarea {
  width: 98.75%;
  margin-bottom: 8px;
}
.top-level {
  margin-bottom: 16px;
}
.add-top-level {
  height: 16px;
  font-size: 14px;
  padding: 8px;
}
.review {
  border-bottom: 1px dashed #555;
  padding-bottom: 12px;
}
.comment.newlyAdded,
.comment.hilight,
.review.hilight {
  background: rgba(0, 255, 0, 0.1);
}
.review-form textarea,
.review-form select {
  width: 96%;
}
.index-section {
  margin-bottom: 52px;
}
.well,
.hero-unit {
  background: url('../images/subtle-panel-tile.png');
  border: 0;
}
.hero-unit h1 {
  font-size: 30px;
  border-bottom: 0;
  margin-bottom: 8px;
}
.hero-unit p {
  font-size: 16px;
}
.hero-unit small {
  color: #555;
}
.subtle-container {
  background: url('../images/subtle-panel-tile.png');
  border: 1px solid #2e2e2e;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}
.subtle-container .header {
  background: #303030 url('../images/darker-panel-tile.png');
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border-bottom: #404040;
  margin: -12px -12px 12px;
  padding: 8px 12px;
}
.subtle-container .header h4 {
  margin: 0;
  display: inline;
}
.subtle-container .header h4 i {
  margin-right: 8px;
}
.subtle-container .col {
  float: left;
  width: 50%;
}
.subtle-container .col .inner {
  padding: 8px;
}
.subtle-container .form-horizontal input[type=text],
.subtle-container .form-horizontal input[type=password],
.subtle-container .form-horizontal textarea,
.subtle-container .form-horizontal .help-block {
  width: 584px;
  max-width: 96%;
}
.subtle-container .form-horizontal select {
  width: 594px;
  max-width: 96%;
}
.subtle-container.advertisement {
  padding: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* Hide by default, will be shown if ad is rendered. */

  display: none;
}
.subtle-container.advertisement .header {
  margin: 0;
}
.subtle-container.advertisement .header .remove {
  float: right;
  padding: 0 2px;
  font-size: 90%;
  color: #505050;
}
.subtle-container.advertisement.advertisement-frontpage {
  padding-top: 12px;
}
.comment-author {
  padding-bottom: 8px;
}
.advanced-search-box form {
  margin: 0;
  padding: 0;
}
.advanced-search-box form p {
  padding: 8px 0;
}
.advanced-search-box form .helptext {
  margin-left: 0;
  width: 100%;
  font-size: 80%;
  color: #929292;
}
.advanced-search-box form label {
  float: none;
  text-indent: 0;
  text-align: left;
  width: auto;
  padding: 0;
}
.advanced-search-box form ul li label {
  height: auto;
  color: #b8b8b8;
  font-weight: normal;
  padding-top: 0;
  font-size: 100%;
}
.advanced-search-box form input,
.advanced-search-box form select {
  width: 95%;
}
.advanced-search-box form ul.as-selections {
  width: 95%;
}
.advanced-search-box form li.as-original {
  width: 95%;
}
.advanced-search-box form li.as-original input {
  width: 95%;
}
.advanced-search-box form ul.as-list {
  margin-left: 0;
}
.advanced-search-box form ul.errorlist {
  margin-left: 0;
}
.advanced-search-box form .slider {
  margin: 12px 8px;
}
.advanced-search-box form .search-button {
  width: 100%;
}
.search-category,
.list-gear {
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  background: #393939 url('../images/light-panel-tile.png');
  margin: 0 0 8px 0;
  padding: 0;
}
.search-category .header,
.list-gear .header {
  color: #fcfcfc;
  background: #303030 url('../images/darker-panel-tile.png');
  padding: 8px 4px;
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
.search-category .header .title,
.list-gear .header .title {
  font-weight: bold;
  text-transform: uppercase;
}
.search-category .header .control,
.list-gear .header .control {
  font-family: Mono;
  letter-spacing: 2px;
  float: right;
  font-size: 80%;
  margin-right: 8px;
}
.search-category .content,
.list-gear .content {
  padding: 8px;
}
.search-category .actions,
.list-gear .actions {
  padding: 8px;
  text-align: right;
  border-top: 1px solid #4a4a4a;
}
.list-gear .content [class^="icon-"],
.list-gear .content [class*=" icon-"] {
  color: #333333;
}
.btn-gear {
  text-align: left;
  cursor: default;
  margin: 2px;
}
.btn-gear .labels {
  float: left;
  padding-right: 8px;
  border-right: 1px solid white;
}
.btn-gear .labels .name {
  font-weight: bold;
}
.btn-gear .labels .alias {
  font-size: 85%;
  font-style: italic;
  color: #555;
}
.btn-gear .actions {
  float: right;
  width: 16px;
  padding: 0 0 0 8px;
  border-left: 1px solid #ddd;
  border-top: 0;
}
.btn-gear.incomplete .labels {
  color: #cc4b2e;
  border-left: 12px solid #cc4b2e;
  padding-left: 4px;
}
.search-results {
  padding: 0 15px;
}
.album-part {
  margin-top: 52px;
}
.album-part:first-child {
  margin-top: 0;
}
.album-part .more,
.album-part .back {
  margin-left: 8px;
}
.notice-count {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 75%;
  font-weight: bold;
  line-height: 75%;
  background-color: red;
  color: #fcfcfc;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  padding: 3px 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  z-index: 9999;
}
.message {
  position: relative;
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  width: 90%;
  text-align: left;
}
.message .avatar {
  position: absolute;
  top: 0;
  right: 0;
}
.message .new,
.message .sender,
.message .subject,
.message .message-tease,
.message .actions {
  display: inline;
}
.message .date {
  color: #a4a4a4;
}
.message .sender {
  padding: 4px;
  font-size: 0.9em;
  border-bottom: 1px dashed #474747;
}
.message .subject {
  margin-left: 4px;
}
.message .body {
  padding: 12px;
}
.message-container {
  margin-bottom: 12px;
  overflow: hidden;
}
.message-container .message {
  background: #393939 url('../images/light-panel-tile.png');
}
.message-container.other .message {
  float: right;
  background: #2e2e2e url('../images/dark-panel-tile.png');
}
.message-form {
  margin-top: 52px;
}
ul.token-input-list {
  display: inline-block;
  list-style-type: none;
  padding: 8px 4px;
  margin: 4px 0;
  overflow: auto;
  background-color: #404040;
  border: 1px solid #282828;
  width: 610px;
}
ul.token-input-list li.token-input-token {
  padding: 8px;
  margin: 2px 0;
  width: 590px;
  color: #fcfcfc;
}
ul.token-input-list li.token-input-input-token {
  border: none;
}
ul.token-input-list li.token-input-input-token input,
ul.token-input-list li.token-input-input-token textarea {
  width: 590px;
  margin: 4px 0;
  background: none;
}
div.token-input-dropdown {
  z-index: 9999;
  background-color: #fcfcfc;
  color: #333333;
}
div.token-input-dropdown li.token-input-selected-dropdown-item {
  color: #b8b8b8;
}
div.token-input-dropdown li.token-input-dropdown-item,
div.token-input-dropdown li.token-input-dropdown-item2 {
  color: #333333;
  background-color: #cc4b2e;
}
div.token-input-dropdown p {
  color: #b8b8b8;
}
.plot {
  text-align: center;
}
.plot .loading {
  font-size: 87.5%;
  margin-top: 120px;
}
.plot .legend {
  margin: -28px auto 52px auto;
}
.plot td {
  padding: 0 4px;
}
.plot td.legendColorBox {
  padding-right: 8px;
  vertical-align: middle;
}
.plot-container td {
  padding: 0 4px;
}
.plot-container td.legendColorBox {
  padding-right: 8px;
  vertical-align: middle;
}
.full-title {
  padding: 11px 0;
}
.full-title .title {
  color: #fcfcfc;
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 12px;
}
.full-title .subtitle {
  color: #9f9f9f;
  font-size: 75%;
  font-style: italic;
  margin-top: 4px;
}
#full-size-image {
  text-align: center;
}
#full-size-image img {
  max-width: 95%;
  margin-top: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
#full-size-image img.real {
  max-width: 65536px;
  /* ... ought to be enough for everybody... */

  width: auto;
}
form.copy label {
  float: left;
}
form.copy #clip-container {
  position: relative;
  float: left;
  display: inline-block;
  margin-left: 4px;
}
form.copy #clip-container img {
  cursor: hand;
  cursor: pointer;
}
form.copy #clip-container .flash-container {
  position: absolute;
  top: -3px;
  -webkit-opacity: 0;
  /* Netscape */

  -moz-opacity: 0;
  /* Safari 1.x */

  -khtml-opacity: 0;
  /* Good browsers */

  opacity: 0;
  cursoer: hand;
  cursor: pointer;
}
form.copy #clip-container .clip-status {
  position: absolute;
  left: 25px;
  top: -1px;
  display: none;
  padding: 0 6px;
  background: #222;
  border: 1px solid #111;
  color: #b8b8b8;
  font-size: 80%;
}
.stButton .chicklets {
  color: #b8b8b8;
}
p.small {
  font-size: 87.5%;
  padding: 0;
  margin: 0;
}
*[rel="popover"] {
  position: relative;
}
.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content {
  background: #303030 url('../images/darker-panel-tile.png');
  border-color: #111;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  color: #b8b8b8;
}
.ui-tooltip-default .ui-tooltip-titlebar h3,
.ui-tooltip-default .ui-tooltip-content h3 {
  color: #fcfcfc;
  border-bottom: 1px solid #232323;
}
.ui-tooltip-default .ui-tooltip-titlebar p,
.ui-tooltip-default .ui-tooltip-content p {
  margin-bottom: 2px;
}
.ui-tooltip-default .ui-tooltip-titlebar .actions,
.ui-tooltip-default .ui-tooltip-content .actions {
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-top: 1px solid #232323;
  text-align: right;
}
.ui-tooltip .ui-tooltip-tip,
.ui-tooltip .ui-tooltip-tip * {
  display: none;
}
.row.section {
  margin-bottom: 16px;
}
.bubble {
  position: relative;
  margin: 0;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent transparent #FCF8E3 transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  top: -21px;
  left: 1em;
}
#language-prompt {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 999;
}
#language-prompt .bubble {
  width: 105px;
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}
#language-prompt .bubble:after {
  left: 99px;
}
#realname-prompt {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 999;
}
#realname-prompt .bubble {
  width: 145px;
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  text-align: left;
}
#realname-prompt .bubble:after {
  left: 20px;
}
.alert h4 {
  margin-bottom: 12px;
}
.alert p {
  margin-bottom: 2px;
}
.alert-heading {
  margin: 0 0 12px 0;
}
.alert-info strong {
  color: #333333;
}
.alert-error a,
.alert-error a:link,
.alert-error a:visited {
  color: #444;
  text-decoration: underline;
}
.alert-error a:hover,
.alert-error a:active {
  color: #333;
  text-decoration: underline;
}
code {
  display: block;
}
a.button {
  -webkit-appearance: none;
  -webkit-box-align: center;
  -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.10000000149011612s;
  -webkit-transition-property: background-position;
  -webkit-transition-timing-function: linear;
  -webkit-user-select: text;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #B74329;
  background-image: -webkit-linear-gradient(top, #cc4b2e, #b74329);
  background-origin: padding-box;
  background-position: 0px -15px;
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.246094);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.0976563);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0976563);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.0976563);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 13px;
  font-weight: normal;
  height: 28px;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  text-transform: none;
  vertical-align: middle;
  white-space: pre;
  width: 65px;
  word-spacing: 0px;
}
form.avatar-change label.control-label {
  display: none;
}
.astrobin-image-container ul.badges {
  list-display: none;
  margin: 0;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
}
.astrobin-image-container ul.badges li {
  margin-bottom: 3px;
}
.astrobin-image-container ul.badges li.iotd-thumb-banner {
  text-align: center;
}
.astrobin-image-container ul.badges li.iotd-thumb-banner h2 {
  margin: 0;
  border-bottom: none;
  font-size: 16px;
  color: #fff;
  background: #e3a936;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  height: 30px;
  width: 30px;
  border: 1px solid white;
}
.astrobin-image-container ul.badges li.iotd-thumb-banner h2 .icon {
  padding: 0;
  position: absolute;
  top: 8px;
  left: 8px;
}
.astrobin-image-container ul.badges li.top100-badge {
  text-align: center;
}
.astrobin-image-container ul.badges li.top100-badge h2 {
  margin: 0;
  border-bottom: none;
  font-size: 9px;
  line-height: 7px;
  color: #fff;
  background: darkred;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid white;
  padding: 8px 6px 6px 6px;
  text-transform: uppercase;
  width: 18px;
}
.astrobin-image-container ul.badges li.top100-badge h2 span {
  display: block;
}
.astrobin-image-container ul.badges li.top100-badge.top100-badge-large h2 {
  font-size: 16px;
  line-height: 12px;
  padding: 12px 8px;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  width: 34px;
}
.iotd-ribbon-container {
  position: relative;
  min-height: 56px;
  margin: 8px 0;
}
.iotd-ribbon {
  width: 109%;
  position: absolute;
  left: -46px;
  text-align: center;
  font-size: 16px!important;
  background: #e3a936;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3a936), to(#a87a25));
  background: -webkit-linear-gradient(top, #e3a936, #a87a25);
  background: -moz-linear-gradient(top, #e3a936, #a87a25);
  background: -ms-linear-gradient(top, #e3a936, #a87a25);
  background: -o-linear-gradient(top, #e3a936, #a87a25);
  background-image: -ms-linear-gradient(top, #e3a936 0%, #a87a25 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}
.iotd-ribbon h1 {
  font-size: 20px!important;
  color: #f5ddae;
  text-shadow: #8f6b22 0 1px 0;
  margin: 0px;
  padding: 5px 10px;
  border-bottom: none;
}
.iotd-ribbon h1 .date {
  color: #fff;
}
.iotd-ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #ad7e21;
  z-index: -1;
}
.iotd-ribbon:after {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.iotd-ribbon .ribbon-content:after {
  border-color: #6b4e15 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
.iotd-ribbon .ribbon-content:after {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
.image-of-the-day {
  position: relative;
}
.image-of-the-day h2 {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 4px 8px;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  top: -10px;
  left: -16px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99026807, M12=0.13917310, M21=-0.13917310, M22=0.99026807,sizingMethod='auto expand')";
  filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.99026807, M12=0.13917310, M21=-0.13917310, M22=0.99026807,sizingMethod='auto expand')";
}
.image-of-the-day img {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
.image-of-the-day .info {
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;
  max-width: 260px;
  height: 158px;
  overflow: hidden;
  -webkit-opacity: 0.05;
  /* Netscape */

  -moz-opacity: 0.05;
  /* Safari 1.x */

  -khtml-opacity: 0.05;
  /* Good browsers */

  opacity: 0.05;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.image-of-the-day .info h3 {
  font-size: 0.8em;
  line-height: 1em;
  margin: 0;
}
.image-of-the-day .info .by {
  font-size: 0.7em;
}
.image-of-the-day .info p {
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0;
}
.image-of-the-day:hover .info {
  -webkit-opacity: 1;
  /* Netscape */

  -moz-opacity: 1;
  /* Safari 1.x */

  -khtml-opacity: 1;
  /* Good browsers */

  opacity: 1;
}
.iotd-archive-image {
  padding-top: 12px;
  position: relative;
}
.iotd-archive-image img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
}
.iotd-archive-image .data {
  position: absolute;
  top: 28px;
  left: 12px;
  padding: 4px 8px;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.iotd-archive-image .data h3 {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
.iotd-archive-image .data p {
  margin: 0;
  color: #bbb;
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
.image-of-the-day .runner-ups,
.iotd-archive-image .runner-ups {
  position: absolute;
  bottom: 12px;
  left: 16px;
}
.image-of-the-day .runner-ups h3,
.iotd-archive-image .runner-ups h3 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 4px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  font-style: italic;
  color: #ccc;
}
.image-of-the-day .runner-ups .runner-up,
.iotd-archive-image .runner-ups .runner-up {
  float: left;
  margin-right: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.iotd-choose {
  margin-bottom: 50px !important;
}
.iotd-choose a {
  margin-top: 12px;
}
.btn-upload {
  padding: 31.5px 24px;
}
.btn-upload .text {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 4px;
  display: block;
}
.subtle-container .more {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: none;
  margin-top: 8px;
}
.subtle-container:hover .more {
  display: block;
}
.activity-stream,
.blog-stream {
  padding-top: 0;
  min-height: 922px;
  max-height: 922px;
  overflow-y: hidden;
}
.activity-stream h3,
.blog-stream h3 {
  background: #303030 url('../images/darker-panel-tile.png');
  text-transform: uppercase;
  font-size: 1.75em;
  padding: 8px 12px;
  margin-top: 0;
  text-align: center;
}
.simple-container {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.simple-container .header {
  border: 0;
  background: #202020;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 0 12px 0;
  padding: 8px 12px;
}
.simple-container .header h4 {
  font-size: 13px;
}
.simple-container #personal-stream,
.simple-container #global-stream {
  overflow: hidden;
}
.activity-actions .action,
.blog-stream-entries .action,
.activity-actions .entry,
.blog-stream-entries .entry {
  padding: 8px 0;
  position: relative;
  min-height: 160px;
}
.activity-actions .action .action-inner,
.blog-stream-entries .action .action-inner,
.activity-actions .entry .action-inner,
.blog-stream-entries .entry .action-inner {
  position: relative;
  padding: 8px;
  margin: 8px;
  background: #303030 url('../images/darker-panel-tile.png');
  border: 1px solid #191919;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.activity-actions .action .action-inner img.astrobin-image,
.blog-stream-entries .action .action-inner img.astrobin-image,
.activity-actions .entry .action-inner img.astrobin-image,
.blog-stream-entries .entry .action-inner img.astrobin-image {
  border: 1px solid #282828;
}
.activity-actions .action:last-child,
.blog-stream-entries .action:last-child,
.activity-actions .entry:last-child,
.blog-stream-entries .entry:last-child {
  border-bottom: 0;
}
.activity-actions .action .avatar,
.blog-stream-entries .action .avatar,
.activity-actions .entry .avatar,
.blog-stream-entries .entry .avatar {
  float: left;
  max-width: 64px;
  overflow: hidden;
}
.activity-actions .action .action-type,
.blog-stream-entries .action .action-type,
.activity-actions .entry .action-type,
.blog-stream-entries .entry .action-type {
  position: absolute;
  top: 84px;
  left: 24px;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
}
.activity-actions .action .action-type i.icon-plus,
.blog-stream-entries .action .action-type i.icon-plus,
.activity-actions .entry .action-type i.icon-plus,
.blog-stream-entries .entry .action-type i.icon-plus {
  color: #FFFF9F;
}
.activity-actions .action .action-type i.icon-thumbs-up,
.blog-stream-entries .action .action-type i.icon-thumbs-up,
.activity-actions .entry .action-type i.icon-thumbs-up,
.blog-stream-entries .entry .action-type i.icon-thumbs-up {
  color: firebrick;
}
.activity-actions .action .action-type i.icon-bookmark,
.blog-stream-entries .action .action-type i.icon-bookmark,
.activity-actions .entry .action-type i.icon-bookmark,
.blog-stream-entries .entry .action-type i.icon-bookmark {
  color: #ff000;
}
.activity-actions .action .action-type i.icon-comment-alt,
.blog-stream-entries .action .action-type i.icon-comment-alt,
.activity-actions .entry .action-type i.icon-comment-alt,
.blog-stream-entries .entry .action-type i.icon-comment-alt {
  color: lightblue;
}
.activity-actions .action .content,
.blog-stream-entries .action .content,
.activity-actions .entry .content,
.blog-stream-entries .entry .content {
  font-size: 90%;
  padding-left: 74px;
}
.activity-actions .action .content p,
.blog-stream-entries .action .content p,
.activity-actions .entry .content p,
.blog-stream-entries .entry .content p {
  color: #b3b3b3;
}
.activity-actions .action .content p a:link,
.blog-stream-entries .action .content p a:link,
.activity-actions .entry .content p a:link,
.blog-stream-entries .entry .content p a:link,
.activity-actions .action .content p a:visited,
.blog-stream-entries .action .content p a:visited,
.activity-actions .entry .content p a:visited,
.blog-stream-entries .entry .content p a:visited {
  color: #c4482c;
}
.activity-actions .action .content .object > .comment,
.blog-stream-entries .action .content .object > .comment,
.activity-actions .entry .content .object > .comment,
.blog-stream-entries .entry .content .object > .comment {
  margin: 0;
  padding-top: 4px;
  padding-left: 0;
  border: 0;
}
.activity-actions .action .content .object > .comment a > i.icon-link,
.blog-stream-entries .action .content .object > .comment a > i.icon-link,
.activity-actions .entry .content .object > .comment a > i.icon-link,
.blog-stream-entries .entry .content .object > .comment a > i.icon-link {
  color: #dd7f69;
  font-size: 80%;
}
.activity-actions .action .content .object > .image img,
.blog-stream-entries .action .content .object > .image img,
.activity-actions .entry .content .object > .image img,
.blog-stream-entries .entry .content .object > .image img {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.activity-actions .action .content .when,
.blog-stream-entries .action .content .when,
.activity-actions .entry .content .when,
.blog-stream-entries .entry .content .when {
  color: #525252;
  font-size: 75%;
  font-style: italic;
}
.activity-actions .action,
.blog-stream-entries .action {
  float: left;
  width: 50%;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .activity-actions .action,
  .blog-stream-entries .action {
    float: none;
    width: auto;
  }
}
.notice-container .unread {
  background-color: #FADDD6;
}
.help-block {
  font-size: 90%;
  font-style: italic;
}
li.revisions {
  padding: 5px;
}
.revision {
  position: relative;
}
.revision .badges {
  display: none;
}
.revision .final {
  position: relative;
}
.revision .final .text {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 4px 8px;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.6);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  top: -10px;
  right: -4px;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9902680687415703, M12=-0.13917310096006588, M21=0.13917310096006588, M22=0.9902680687415703, SizingMethod='auto expand')";
  filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9902680687415703, M12=-0.13917310096006588, M21=0.13917310096006588, M22=0.9902680687415703, SizingMethod='auto expand')";
}
.revision .label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 2px 0;
  width: 80px;
  background: #303030;
  background-color: rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000')";
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
}
.revision .label.active {
  background: white;
  background-color: rgba(255, 255, 255, 0.66);
  color: #111;
}
.gear-popover .thumbnail,
.user-popover .thumbnail,
.subject-popover .thumbnail {
  border: 0;
}
.gear-popover th,
.user-popover th,
.subject-popover th,
.gear-popover td,
.user-popover td,
.subject-popover td {
  border-color: #222;
}
/* Bootstrap popover */
.popover {
  z-index: 1030;
}
.popover .popover-inner {
  padding: 0;
  background: #2e2e2e url('../images/dark-panel-tile.png');
  -webkit-box-shadow: 0 0 22px #000000;
  -moz-box-shadow: 0 0 22px #000000;
  box-shadow: 0 0 22px #000000;
}
.popover .popover-inner .popover-title {
  background: #1b1b1b url('../images/darker-panel-tile.png');
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-color: #414141;
}
.popover .popover-inner .popover-content {
  background: #2e2e2e url('../images/dark-panel-tile.png');
}
.popover.bottom .arrow {
  border-bottom-color: #1B1B1B;
}
.gear-page .page-header h4 {
  margin-top: -20px;
  color: #ddd;
}
.gear-page .gear-image {
  margin-bottom: 12px;
}
.user-business-card,
.gear-business-card {
  margin-bottom: 4px;
  padding: 8px;
  border: 1px dashed #505050;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  position: relative;
  height: 212px;
  width: 182px;
  margin: 8px;
  padding: 0;
}
.user-business-card .business-card-inner,
.gear-business-card .business-card-inner {
  padding: 8px;
}
.user-business-card .header,
.gear-business-card .header {
  background: #303030 url('../images/darker-panel-tile.png');
  height: 22px;
  padding: 8px 4px 0;
  margin: -8px -8px 12px;
}
.user-business-card .avatar,
.gear-business-card .avatar {
  position: absolute;
  top: 38px;
  left: 8px;
  width: 83px;
}
.user-business-card .quick-data,
.gear-business-card .quick-data {
  position: absolute;
  top: 38px;
  left: 99px;
}
.user-business-card .quick-data th,
.gear-business-card .quick-data th {
  padding: 4px 4px 4px 0;
}
.user-business-card .quick-data td,
.gear-business-card .quick-data td {
  padding: 4px;
}
.user-business-card .data,
.gear-business-card .data {
  position: absolute;
  top: 128px;
  left: 8px;
  font-size: 82%;
  width: 166px;
}
.commercial-gear-items.table,
.retailed-gear-items.table {
  table-layout: fixed;
}
#more-subjects .hide,
#more-subjects .reminder {
  display: none;
}
.community-bulletin {
  color: #333;
  background-color: #FFEEBB;
  border: 1px solid #ECB;
  padding: 8px;
  margin-bottom: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.community-bulletin span.title {
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #B7B7B7;
  background-color: #FFEEDD;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.community-bulletin p {
  font-size: 87.5%;
}
#rawdata-file-drop-area {
  min-height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px dashed #444;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  color: #555;
}
#rawdata-file-drop-area h2 {
  padding-top: 30px;
  border-bottom: none;
}
#rawdata-filelist {
  color: #e5e5e5;
}
#rawdata-filelist th {
  background: #303030 url('../images/darker-panel-tile.png');
}
#rawdata-filelist .filename {
  width: 80%;
}
#rawdata-eta {
  color: #888;
  font-size: smaller;
}
.plan {
  text-align: center;
  padding-bottom: 30px;
  width: 190px;
  float: left;
}
.plan .plan-inner {
  border-right: 1px solid #373737;
}
.plan:last-child .plan-inner {
  border-right: none;
}
.plan h1 {
  border-bottom: none;
  font-size: 28px;
}
.plan h1 small {
  font-size: 16px;
  display: block;
}
.plan h2 {
  border-bottom: none;
  font-size: 14px;
}
.plan h2 small {
  font-size: 11px;
  display: block;
  margin-top: -2px;
}
.plan p {
  color: #ddd;
  font-size: 11px;
  line-height: 11px;
}
.plan a.btn {
  margin-top: 25px;
}
.plan-description {
  margin: 0 2px;
}
.plan-description p {
  font-size: 12px;
  line-height: 14px;
  color: #cdcdcd;
  text-align: center;
}
.thankyou {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
.thankyou small {
  display: block;
  font-size: 13px;
  color: #eee;
  padding-top: 10px;
  font-weight: normal;
}
.btn-header {
  width: 110px;
  margin-top: 6px;
}
table.rawdata-browser .download-link,
table.rawdata-browser .delete-link {
  visibility: hidden;
}
table.rawdata-browser tr:hover .download-link,
table.rawdata-browser tr:hover .delete-link {
  visibility: visible;
}
table.rawdata-browser td.filename {
  font-size: 10px;
}
table.rawdata-browser td.actions {
  width: 102px;
  text-align: right;
}
table.rawdata-browser td.files {
  width: 102px;
}
table.rawdata-browser td.icon {
  font-size: 20px;
  width: 20px;
}
table.rawdata-browser td.counter {
  color: #aaa;
}
.rawdata-browser-breadcrumb {
  display: inline-block;
  margin-bottom: 8px;
}
.rawdata-browser-breadcrumb a {
  margin-right: 4px;
}
.rawdata-browser-breadcrumb a i.icon-remove {
  padding-left: 6px;
  font-size: 9px;
}
.rawdata-browser-breadcrumb .divider {
  color: #777;
  padding-right: 3px;
  font-size: 12px;
}
.download-with-icon {
  text-align: center;
  margin: 40px auto;
  width: 450px;
}
.download-with-icon .image {
  float: left;
}
.download-with-icon .data {
  padding-top: 80px;
}
.download-with-icon .data .size {
  color: #888;
  display: block;
  margin-top: 12px;
}
table#private-shared-folders a.delete-folder {
  visibility: hidden;
}
table#private-shared-folders tr:hover a.delete-folder {
  visibility: visible;
}
#register-button {
  text-align: center;
  margin-top: 40px;
}
#register-button a {
  font-size: 150%;
}
.endless_container .endless_more {
  display: none;
}
.endless_container .endless_loading {
  text-align: center;
  padding: 24px 0;
  background: #cc4b2e url('../images/orange-panel-tile.png');
  border-top: 1px solid #111;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -6px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -6px 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -6px 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
#index #recent-images {
  padding-left: 8px;
}
#index #recent-images-loggedin {
  padding-left: 2px;
}
#index #commercial-products {
  padding-left: 14px;
}
#index #commercial-products .your-product-here {
  font-size: x-small;
  font-style: italic;
}
#profile-details {
  margin: 0;
  padding: 6px 6px 0 6px;
  overflow: hidden;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 12px;
  width: 182px;
}
#profile-details ul {
  list-style: none;
  margin: 0;
}
#profile-details ul li {
  display: inline-block;
  width: 57px;
}
#profile-details ul li > a {
  float: left;
  color: #d6d6d6;
  text-transform: uppercase;
  padding: 4px 8px;
  font-size: 8px;
  text-align: center;
}
#profile-details ul li > a:hover,
#profile-details ul li > a:hover strong {
  color: #cc4b2e;
}
#profile-details ul li > a strong {
  display: block;
  font-size: 14px;
  color: white;
}
#profile-details ul li:last-child > a {
  border: none;
}
#platesolving-status .progress {
  height: 32px;
  margin-bottom: 4px;
  position: relative;
  background-color: #333;
  background-image: linear-gradient(to bottom, #222222, #444444);
}
#platesolving-status .progress .progress-content {
  color: gold;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 6px;
  left: 8px;
}
.toggleproperty-add-remove.property-like {
  display: block;
  margin: 16px 0;
}
.toggleproperty-add-remove.property-like button,
.toggleproperty-add-remove.property-like a {
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  padding: 4px 0;
}
a.index-section-link {
  padding: 0 1px;
}
.horizontal-separator {
  padding: 0 8px;
  color: #404040;
}
.btn.active,
.btn:active {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.33) inset, 0 -2px 2px rgba(255, 255, 255, 0.1) inset;
}
.btn-primary:active,
.btn-primary.active {
  color: #FF7F50;
}
ul.astrobin-users {
  list-style: none;
  margin: 0;
}
ul.astrobin-users li {
  float: left;
  padding: 2px;
}
.user-card {
  position: relative;
}
.user-card .stats {
  margin-top: 12px;
}
.user-card-inline {
  margin: 0 32px 32px 0;
}
.user-card-inline .avatar {
  float: left;
}
.user-card-inline #profile-details {
  float: left;
  margin-top: 0;
  margin-left: 16px;
}
.user-card-inline #profile-details li {
  padding: 0;
}
.user-card-inline #profile-details li a {
  padding-top: 0;
  padding-bottom: 0;
}
.user-card-inline #profile-details li .property-follow {
  float: left;
  margin: 4px 8px 0 12px;
}
.astrobin-users.user-list li {
  float: none;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #404040;
}
.astrobin-users.user-list li .user-list-item {
  position: relative;
}
.astrobin-users.user-list li .user-list-item .avatar {
  float: left;
  margin-right: 16px;
}
.astrobin-users.user-list li .user-list-item .name {
  font-weight: bold;
}
.astrobin-users.user-list li .user-list-item .info {
  color: #777;
  font-size: 90%;
}
.astrobin-users.user-list li .user-list-item .follow {
  position: absolute;
  right: 4px;
  top: 10px;
}
.astrobin-users.user-list li:last-child {
  border-bottom: none;
}
#upload-revision-form .spinner {
  margin-left: 6px;
}
.sky-plot .image {
  text-align: center;
}
.sky-plot .image img {
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */

  -webkit-filter: grayscale(100%);
}
.form-donate {
  padding: 8px;
}
.form-donate label {
  display: block;
  text-align: left;
  font-style: italic;
  font-weight: bold;
}
.form-donate input.button {
  padding-left: 8px;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  margin: 25px;
  width: 100%;
}
.label.thank-you-for-your-support {
  display: block;
  padding: 8px;
  margin: 18px 0;
  text-align: center;
}
.label.thank-you-for-your-support a {
  color: lightgreen;
  border-bottom: 1px dotted lightgreen;
}
.alert-please-donate {
  text-align: center;
}
img.flickr-photo-to-import-selected {
  border: 1px solid white;
}
.tooltip-inner {
  max-width: none;
}
.image-navigation {
  font-size: 18px;
}
.image-navigation.disabled a {
  color: #D56D62 !important;
  pointer: none;
}
/* --- Topic/Forum table --- */
table.forums,
table.topic-list {
  table-layout: fixed;
}
table.forums th,
table.topic-list th,
table.forums td,
table.topic-list td {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}
table.forums th.forum-topic-count,
table.topic-list th.forum-topic-count,
table.forums td.forum-topic-count,
table.topic-list td.forum-topic-count,
table.forums th.forum-post-count,
table.topic-list th.forum-post-count,
table.forums td.forum-post-count,
table.topic-list td.forum-post-count,
table.forums th.topic-post-count,
table.topic-list th.topic-post-count,
table.forums td.topic-post-count,
table.topic-list td.topic-post-count,
table.forums th.topic-view-count,
table.topic-list th.topic-view-count,
table.forums td.topic-view-count,
table.topic-list td.topic-view-count {
  width: 10%;
}
table.forums th.forum-last-post,
table.topic-list th.forum-last-post,
table.forums td.forum-last-post,
table.topic-list td.forum-last-post,
table.forums th.topic-last-post,
table.topic-list th.topic-last-post,
table.forums td.topic-last-post,
table.topic-list td.topic-last-post,
table.forums th.topic-author,
table.topic-list th.topic-author,
table.forums td.topic-author,
table.topic-list td.topic-author {
  width: 15%;
}
th.forum-name {
  font-size: 18px;
}
.forum-description {
  margin: 5px;
  font-size: 11px;
}
.forum-row,
.topic-row {
  width: 100%;
}
.forum-topic-count,
.forum-post-count,
.topic-post-count,
.topic-view-count {
  text-align: center !important;
}
.forum-last-post,
.topic-last-post {
  text-align: right !important;
}
.first-unread-post-link {
  color: #f5d8d1;
  text-decoration: none;
  font-weight: bold;
  padding-right: 4px;
}
.first-unread-post-link {
  color: #d96d54;
}
.post {
  margin: 0 0 12px 0;
}
.post-header th {
  position: relative;
  padding: 0 20px !important;
  height: 60px;
  vertical-align: middle !important;
}
.post-header img {
  position: absolute;
  top: 0;
  right: 0;
}
.post-header .post-author {
  font-size: 16px;
  line-height: 18px;
}
.post-header .post-updated {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
.post tbody tr:hover td {
  background-color: inherit !important;
}
.post-info {
  width: 220px;
}
.post-info .post-author {
  font-size: 14px;
  padding: 5px 0;
}
.post-info .post-extra-info {
  font-size: 11px;
  color: #777;
}
.post-content {
  padding: 18px !important;
  color: #ddd;
}
.post-content ul,
.post-content ol {
  list-style: initial;
}
.post-content blockquote {
  background-color: #222;
  padding: 10px 20px 10px 60px;
  border: 1px solid #555;
  position: relative;
  min-height: 34px;
}
.post-content blockquote:before {
  display: block;
  content: "\201C";
  font-size: 120px;
  position: absolute;
  left: 4px;
  top: 50px;
  color: #444;
  font-family: Georgia;
}
.post-signature {
  color: #CCC;
  margin-top: 15px;
  border-top: 1px dotted #CCC;
  display: block;
}
.post-related {
  margin-top: 20px;
}
.post-related .btn {
  font-size: 10px;
  text-transform: uppercase;
  font-style: italic;
  background: #3C3C3C;
  border: 1px solid #323232;
  color: #B0B0B0;
  text-shadow: 0 0 2px black;
}
.post-related .btn-primary {
  color: white;
  background: #cc4b2e;
}
.post-related .btn-danger {
  color: white;
  background: red;
}
.forum-headline {
  margin-top: 10px;
}
.attachments-form {
  padding-bottom: 15px;
}
.attachment-link {
  border-bottom: 1px dotted;
}
/* --- Unread --- */
.state-indicator {
  display: block;
  float: left;
  background-color: #ccc;
  height: 10px;
  width: 10px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 3px 5px;
}
.topic-unread a,
.forum-unread a {
  font-weight: bold;
}
.topic-unread .state-indicator,
.forum-unread .state-indicator {
  background-color: #cc4b2e;
}
/* --- Moderation --- */
.on-moderation {
  background: #ffcccc;
}
/* --- Mini pagination --- */
.mini-pagination {
  padding: 3px 0 3px 10px;
  font-size: 11px;
}
#mark-all-as-read,
#controls {
  margin-top: 24px;
}
#mark-all-as-read,
.topic .controls,
.forum .controls {
  padding-top: 12px;
  margin-top: 8px;
  border-top: 1px solid #393939;
}
#mark-all-as-read a,
.topic .controls a,
.post-control a {
  padding: 4px 12px;
  margin-right: 4px;
  font-size: 10px;
  text-transform: uppercase;
  font-style: italic;
  color: #fefcfb;
  background: #b74329;
  border: 1px solid #8e3420;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.topic-state,
.forum-status {
  width: 20px;
}
table.post th.post-avatar {
  width: 80px;
}
.post-form {
  margin-top: 40px;
}
.post-form li {
  list-style: initial;
}
.post-form input,
.post-form textarea,
.post-form select {
  width: 98%;
}
.post-form input[type="submit"] {
  width: auto;
}
.post-form .submit {
  margin-top: 24px;
}
.topic h1,
.forum h1,
.category h1 {
  margin: 24px 0 8px 0;
  font-size: 24px;
}
.post-content .updated-message {
  color: #777;
  font-size: x-small;
  margin-top: 20px;
}
.breadcrumb li {
  color: #333333;
}
.field-errors {
  color: red;
}
pre {
  background-color: #191919;
  color: #eee;
}
.post-form #emoticons {
  margin-top: 8px;
}
.wysibb {
  color: #ddd;
  background: #404040 !important;
  border: 1px solid #282828 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.wysibb .wysibb-toolbar,
.wysibb .wysibb-toolbar-container {
  border-bottom-color: #555 !important;
  border-right-color: #555 !important;
}
.wysibb .wysibb-toolbar-container:hover,
.wysibb .wysibb-toolbar-container .wysibb-toolbar-btn:hover,
.wysibb .wysibb-toolbar-container .wysibb-toolbar-btn .btn-text:hover {
  color: #333;
}
.wysibb .wysibb-text-editor {
  padding: 8px;
}
.wbb-button {
  background: #cc4b2e !important;
  border-color: #a23c25 !important;
}
.wbb-button:hover {
  background: #b74329 !important;
}
#wbbmodal label,
#wbbmodal .div-modal-text {
  color: #666;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  color: #ddd;
  text-shadow: 0 1px 0 black;
}
