{% extends 'base.html' %}

{% load astrobin_apps_images_tags %}
{% load i18n tags bootstrap_toolkit avatar_tags markup %}
{% load hitcount_tags %}
{% load thumbnail %}

{% block title %}{{gear}}{% endblock %}

{% block content %}
    <!-- TODO: check that this page works -->
    <div class="gear-page">
        <div class="page-header">
            <h1>{{gear.get_name}}
                <small>{% trans "by" %} {{gear.get_make}}</small>
            </h1>
            {% if show_tagline %}
                <h4>{{gear.commercial.tagline}}</h4>
            {% endif %}
        </div>

        <div class="row section">
            <div class="span8">
                {% if show_image %}
                    <div class="gear-image">
                        {% astrobin_image gear.commercial.image 'regular' %}
                    </div>
                {% endif %}

                {% if show_other_images %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4><i class="icon-picture"></i> {% trans "Other images" %}</h4>
                        </div>
                        <ul class="thumbnails astrobin-thumbnails">
                        {% for r in gear.commercial.image.revisions.all %}
                            <li class="thumbnail astrobin-thumbnail revisions">
                                {% astrobin_image gear.commercial.image 'thumb' r.label %}
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if show_description %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4><i class="icon-align-left"></i> {% trans "Description" %}</h4>
                        </div>
                        {{gear.commercial.description|markdown|linebreaks}}
                    </div>
                {% endif %}

                {% if examples %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4>
                                <i class="icon-picture"></i>
                                {% trans "Some images" %}
                                <a href="/search/?q={{gear}}{% search_form_query %}">
                                    {% trans "(view more)" %}
                                </a>
                            </h4>
                        </div>
                        {% image_list examples 'thumb' %}
                    </div>
                {% endif %}

                <div class="reviews subtle-container">
                    <div class="header"><h4><i class="icon-star-empty"></i> {% trans "Reviews" %}</h4></div>
                    {% for review in reviews %}
                        <div id="r{{review.id}}" class="review">
                            <div class="avatar">
                                <a href="{% url user_page review.user %}">
                                    {% avatar review.user 48 %}
                                </a>
                            </div>

                            <div class="meta">
                                <a class="author" href="{% url user_page review.user %}">
                                    {{review.user}}
                                </a>
                                {{review.date_added|ago}}
                            </div>

                            <div class="content">
                                {{review.content|markdown|linebreaks}}
                            </div>

                            <div class="score">
                                <strong>{% trans "Rating" %}: {{review.score}}/5</strong>
                            </div>
                        </div>
                    {% empty %}
                        <p class="empty">{% trans "There are no reviews yet." %}</p>
                    {% endfor %}
                </div>

                {% if request.user.is_authenticated %}
                    <div class="subtle-container">
                        <div class="header"><h4><i class="icon-star"></i> {% trans "Add your review" %}</h4></div>
                        <p>
                            {% if request.user.is_authenticated %}
                                {% blocktrans %}Please be fair, honest and polite when writing a review. Many people will read your review: all the users on AstroBin who own this piece of gear, will be notified of your review.{% endblocktrans %}
                            {% else %}
                                {% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to write a review.{% endblocktrans %}
                            {% endif %}
                        </p>

                        <form class="form-vertical review-form" method="post" action="{% url gear_review_save %}">{% csrf_token %}
                            {{review_form|as_bootstrap}}
                            <input type="hidden" name="gear_id" value="{{gear.id}}" />
                            <input type="submit" class="btn btn-mini btn-primary" value="{% trans "Submit" %} &rarr;" />
                        </form>
                    </div>
                {% endif %}

                <div class="comments subtle-container">
                    <div class="header"><h4><i class="icon-comments-alt"></i> {% trans "Comments" %}</h4></div>

                    <p>
                    {% if request.user.is_authenticated %}
                        {% blocktrans %}Use this space to start a discussion, leave a comment or ask a question about this piece of gear. All the users on AstroBin who own one, will be notified and can join the discussion.{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to leave a comment.{% endblocktrans %}
                     {% endif %}
                    </p>


                    <div id="nested-comments"
                         data-content-type-id="{{content_type.pk}}"
                         data-object-id="{{gear.pk}}">
                    </div>
                    {% include 'nested_comments/nestedcomment_app.html' %}

                </div>

            </div>

            <div class="span4">

                {% if gear.retailed.all %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4><i class="icon-credit-card"></i> {% trans "Buy it here" %}</h4>
                        </div>
                        <table class="table">
                            {% for retailed in gear.retailed.all %}
                                {% with retailed.retailer.userprofile as profile %}
                                    {% if profile.company_name %}
                                        <tr>
                                            <th>
                                                <div class="company-name">
                                                    {% if profile.company_website %}
                                                        <a href="{{profile.company_website}}" target="_blank"
                                                           rel="tooltip" title="{{profile.company_website}}">
                                                    {% endif %}
                                                        {{profile.company_name}}
                                                    {% if profile.company_website %}
                                                        </a>
                                                    {% endif %}
                                                <div class="reailer-country">
                                                    {% if profile.retailer_country %}
                                                        {% trans profile.get_retailer_country_display %}
                                                    {% endif %}
                                                </div>
                                            </th>
                                            <td>
                                                {{retailed.price|default:"-"}}
                                                {% if retailed.price %}
                                                    {{retailed.currency}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if retailed.link %}
                                                    <a class="btn btn-primary btn-mini" href="{{retailed.link}}" target="_blank" rel="tooltip" title="{{retailed.link}}">
                                                        &nbsp;<i class="icon-external-link"></i>&nbsp;
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

                <div class="subtle-container">
                    <div class="header">
                        <h4><i class="icon-tags"></i> {% trans "Properties" %}</h4>
                    </div>
                    <table class="table">
                        {% if show_link %}
                        <tr>
                            <th>{% trans "Link" %}</th>
                            <td>
                                <a class="commercial-link btn btn-primary btn-mini" href="{{gear.commercial.link}}" target="_blank"
                                   rel="tooltip" title="{{gear.commercial.link}}">
                                    &nbsp;<i class="icon-external-link"></i>&nbsp;
                                </a>
                            </td>
                        </tr>
                        {% endif %}

                        <tr>
                            <th>{% trans "Type" %}</th>
                            <td>{% gear_type gear %}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Make" %}</th>
                            <td>
                                {% if gear.commercial and gear.commercial.is_paid or gear.commercial.producer == request.user  %}
                                    <a href="/search/?q={{gear.get_make}}{% search_form_query %}&amp;search_type=3">
                                {% endif %}
                                    {{gear.get_make}}
                                {% if gear.commercial and gear.commercial.is_paid or gear.commercial.producer == request.user %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% for attribute in attributes %}
                            {% if attribute.1 %}
                                <tr>
                                    <th>{{attribute.0}}</th>
                                    <td>{{attribute.1}}{% if attribute.2 %} {{attribute.2|safe}}{% endif %}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <th>{% trans "Owners" %}</th>
                            <td>{{owners_count}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Images" %}</th>
                            <td>{{images_count}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Reviews" %}</th>
                            <td>{{reviews|length}}</td>
                        </tr>
                         <tr>
                            <th>{% trans "Comments" %}</th>
                            <td>{{comments|length}}</td>
                        </tr>
                    </table>
                </div>

                <div class="subtle-container">
                    <div class="header">
                        <h4><i class="icon-bar-chart"></i> {% trans "Views" %}</h4>
                    </div>
                    <div id="stats_gear_views" class="plot" style="width:260px; height: 100px;">
                        <div class="loading">
                            <p>{% trans "Please wait: the plot is loading..." %}</p>
                            <img alt="{% trans "Loading..." %}" src="{{STATIC_URL}}images/ajax-loader.gif" />
                        </div>
                    </div>
                </div>

                <div class="subtle-container">
                    <div class="header">
                        <h4><i class="icon-bar-chart"></i> {% trans "Total images" %}</h4>
                    </div>
                    <div id="stats_total_images" class="plot" style="width:260px; height: 100px;">
                        <div class="loading">
                            <p>{% trans "Please wait: the plot is loading..." %}</p>
                            <img alt="{% trans "Loading..." %}" src="{{STATIC_URL}}images/ajax-loader.gif" />
                        </div>
                    </div>
                </div>
            </div> <!-- span4 -->
        </div> <!-- row -->
    </div> <!-- gear-page -->
{% endblock %}

{% block extra_js %}
<script src="{{STATIC_URL}}nested_comments/js/nested_comments_app.js"></script>

{% ifnotequal request.user image.user %}
    {% insert_hit_count_js_variables for gear %}
    <script src="{{STATIC_URL}}hitcount/hitcount-jquery.js"></script>
{% endifnotequal %}

<script type="text/javascript">
$(document).ready(function() {
    var reviewFormOptions = {
        dataType: 'json',
        timeout: 30000,
        beforeSubmit: function(data, $form, options) {
            var $btn = $form.find('input[type=submit]');
            var $textarea = $form.find('textarea');

            if ($textarea.val() == '')
                return false;

            $btn.attr('disabled', 'disabled').addClass('disabled');
        },
        success: function(response, statusText, xhr, $form) {
            var $btn = $form.find('input[type=submit]');
            var $textarea = $form.find('textarea');

            if (response.success) {
                var $container = $('<div/>').addClass('review');

                var $avatar = $('<div/>').addClass('avatar');
                var $avatar_link = $('<a/>').attr('href', '{% url user_page request.user %}');

                var $meta = $('<div/>').addClass('meta');
                var $author = $('<a/>').attr('href', '{% url user_page request.user %}').text('{{request.user}}');

                var $content = $('<div/>').addClass('content');
                var $score = $('<div/>').addClass('score');

                $content.text(response.content);
                $score.text(response.score);

                $meta
                    .append($author)
                    .append("&nbsp;{% trans "just now" %}");

                $container
                    .append($avatar)
                    .append($meta)
                    .append($content)
                    .append($score);

                $('p.empty').remove();
                $('.reviews').append($container);

                $textarea.val('');
            }

            $btn.removeAttr('disabled').removeClass('disabled');
        }
    };
    $('.review-form').ajaxForm(reviewFormOptions);

    astrobin_stats.init();
    astrobin_stats.plot(
        '#stats_total_images',
        "{% url stats_gear_total_images gear.id %}",
        30000);
    astrobin_stats.enableTooltips("#stats_total_images");

    astrobin_stats.plot(
        '#stats_gear_views',
        "{% url stats_gear_views gear.id %}",
        30000);
    astrobin_stats.enableTooltips("#stats_gear_views");

    var hilighted_comment = location.hash.substr(1);
    if (hilighted_comment) {
        $('#' + hilighted_comment).addClass('hilight');
        setTimeout(function() {
            $('html, body').animate({scrollTop: $("#" + hilighted_comment).offset().top - 54}, 500);
        }, 1000);
    }
});
</script>
{% endblock %}

